* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    color: #292b2c;
    font-size: 24px;
    
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(253, 253, 253);
}

h1, h2 {
    text-align: center;
    line-height: 200px;
}