---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hello 👋"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 22 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
        <h2>My name is Farrel Nikoson.</h2>

        <p>
            An developer, designer, writing enthusiast, internet marketer, would
            be book obsessive, blogger.
        </p>

<p>Outside of computer I Love to play with my dogs, culinary things and playing games. I'm a type of <a>whatever-do-as-it-has-benefit</a>.</p>

			<p>Here are a few my other categorized blog (mostly in Bahasa Indonesia):</p>
			<ul>
				<li><a href="https://medium.com/@farrelnikoson">Personal blog (life, essay, reflection)</a></li>
				<li><a href="https://vartz.vercel.app/blog">Internet marketing and bussiness blog</a></li>
			</ul>
			<p>
				Want to connect or collaborate? I'm always open to new opportunities and discussions. Find me on social media through the links below – let's chat!
			</p>
        <p>
            More info will coming soon, you can
            <a href="https://vartzy.github.io/links">Go back</a>
        </p>

<p>Information may be outdated, This is 2023/03/22 modified.</p>
