---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="prose">
			<h1>💻 Hello, Engineers!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">VArtz (Farrel Nikoson)</a> engineering blog. Here, I share insights into my software development journey, focusing on the fascinating worlds of frontend, backend, and fullstack development.
			</p>
			<p>
 From intricate JavaScript framework details to robust server-side architectures, this blog dives deep into the technologies and methodologies that drive modern web engineering. 
			</p>
            <p>
Whether you're curious about responsive design techniques, API development, or database optimization, you'll find valuable content for both seasoned developers and newcomers alike. Join me as we explore the ever-evolving landscape of web technologies, tackle complex problems, and uncover innovative solutions that span the entire development stack.
</p>
<p><a href="/about">Tell me deeper about you ⬇</a></p>
<h2>👨‍💻 Current project</h2>
<ul style="display: grid; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); gap: 2em">
<div>
<video src="/neocurl-demo.webm" autoplay playsinline style="width: 100%" />
<h3><a href="https://github.com/vartzy/neocurl" target="_blank">Neocurl 🌟</a></h3>
<p>Simple, effective and fast HTTP Client based on curl for neovim</p>
</div>
<div>
<img src="/blog-placeholder-about.jpg" />
<h3><a href="https://github.com/VArtzy/NodeJS-OWASP-API-Security" target="_blank">OWASP API</a></h3>
<p>Public repo about OWASP API 10 security risk examples in NodeJS</p>
</div>
</ul>
<h2>🥪 Technology stack</h2>
<p>Here are a few of the technologies I'm currently working & we'll cover in blog:</p>
<ul style="display: flex; flex-wrap: wrap; gap: 2em">
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46.2785 1.06735C48.758 -0.351924 51.9876 -0.358335 54.465 1.06735C66.9286 8.10993 79.3961 15.1415 91.8576 22.1883C94.2014 23.5086 95.7692 26.117 95.7454 28.8178V71.1886C95.7628 74.0012 94.0401 76.672 91.5673 77.9623C79.1447 84.9661 66.7285 91.9784 54.308 98.9821C51.7772 100.429 48.4827 100.318 46.031 98.7521C42.3067 96.5931 38.576 94.4447 34.8513 92.2879C34.0902 91.8341 33.2322 91.473 32.6948 90.735C33.1699 90.0947 34.0193 90.0149 34.7096 89.7353C36.2642 89.241 37.692 88.4475 39.1202 87.6775C39.4813 87.4303 39.9222 87.525 40.2684 87.7462C43.4531 89.5722 46.6097 91.4513 49.8051 93.2598C50.4868 93.6534 51.177 93.1309 51.7597 92.8061C63.9501 85.9163 76.1555 79.0525 88.3438 72.1606C88.7954 71.9433 89.0451 71.4639 89.0084 70.9692C89.0169 56.992 89.0105 43.0123 89.0127 29.035C89.0643 28.4737 88.7395 27.9576 88.232 27.7279C75.8524 20.7562 63.4793 13.7738 51.1019 6.80035C50.8874 6.65292 50.6334 6.57382 50.3732 6.57344C50.1129 6.57306 49.8587 6.65141 49.6438 6.79821C37.2664 13.7738 24.8954 20.7626 12.518 27.734C12.0123 27.9641 11.6728 28.4716 11.733 29.035C11.7352 43.0123 11.733 56.992 11.733 70.9714C11.7116 71.2127 11.7646 71.4549 11.8849 71.6652C12.0053 71.8756 12.1872 72.044 12.4062 72.1478C15.7091 74.0208 19.0164 75.8806 22.3215 77.7472C24.1834 78.7494 26.4696 79.3449 28.521 78.577C30.3314 77.9278 31.6003 76.0804 31.5658 74.1582C31.5829 60.2626 31.5573 46.3647 31.5786 32.4712C31.5334 31.8543 32.1185 31.3447 32.7183 31.4027C34.3053 31.392 35.8945 31.3814 37.4815 31.407C38.144 31.392 38.5998 32.0563 38.5179 32.6778C38.5115 46.6614 38.535 60.6454 38.5072 74.6291C38.5115 78.3559 36.9804 82.411 33.5332 84.2345C29.2864 86.4345 24.0374 85.9679 19.8419 83.8584C16.2099 82.0456 12.7438 79.9062 9.17621 77.9641C6.69702 76.6809 4.98286 73.9994 5.00031 71.189V28.8178C4.97431 26.0611 6.60442 23.4053 9.02128 22.1043C21.4418 15.0948 33.8601 8.08001 46.2785 1.06735Z" fill="#8CC84B"/>
<path d="M57.1141 30.4179C62.5312 30.0692 68.3304 30.2113 73.2051 32.88C76.9793 34.925 79.0717 39.217 79.1383 43.41C79.0329 43.9756 78.4416 44.2876 77.9017 44.2488C76.33 44.2466 74.7579 44.2701 73.1862 44.2381C72.5195 44.2637 72.132 43.649 72.0483 43.0596C71.5967 41.0534 70.5026 39.0664 68.6143 38.0987C65.7156 36.6474 62.3545 36.7204 59.1937 36.7507C56.8862 36.8732 54.4048 37.073 52.4499 38.4299C50.9491 39.4578 50.4932 41.5327 51.0289 43.2038C51.5339 44.4037 52.919 44.7908 54.0522 45.1477C60.5805 46.8551 67.4985 46.6852 73.9021 48.9322C76.5533 49.8482 79.1468 51.629 80.0543 54.4048C81.2414 58.1252 80.721 62.5721 78.0741 65.5589C75.9276 68.0167 72.8012 69.3544 69.6831 70.0809C65.535 71.0059 61.2302 71.0294 57.0176 70.6187C53.0564 70.1671 48.9343 69.1264 45.8764 66.4275C43.2615 64.157 41.9843 60.6194 42.1111 57.2049C42.1414 56.6283 42.7155 56.2262 43.2679 56.2736C44.8507 56.2608 46.4334 56.2565 48.0162 56.2757C48.6483 56.2305 49.117 56.7768 49.1494 57.3727C49.4415 59.2841 50.1598 61.2903 51.8266 62.4236C55.0434 64.4989 59.0797 64.3568 62.7631 64.4149C65.8146 64.2795 69.2401 64.2386 71.7303 62.2217C73.0441 61.0713 73.4334 59.1467 73.0783 57.4909C72.6937 56.093 71.2313 55.4416 69.9755 55.0156C63.5309 52.977 56.5357 53.7167 50.1534 51.4114C47.5624 50.4957 45.0569 48.7644 44.0614 46.1025C42.6724 42.3352 43.3089 37.6752 46.2333 34.7893C49.0846 31.9187 53.2007 30.8132 57.1141 30.4175V30.4179Z" fill="#8CC84B"/>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0.000488281H100V100H0V0.000488281Z" fill="#017ACB"/>
<path d="M48.0157 37.0317H52.8126V45.313H39.8438V82.1567L39.5 82.2505C39.0313 82.3755 32.8594 82.3755 31.5313 82.2349L30.4688 82.1411V45.313H17.5V37.0317L21.6094 36.9849C23.8594 36.9536 29.6406 36.9536 34.4532 36.9849C39.2657 37.0161 45.3594 37.0317 48.0157 37.0317V37.0317ZM84.6251 78.2505C82.7189 80.2661 80.672 81.3911 77.2657 82.313C75.7814 82.7192 75.5313 82.7349 72.1876 82.7192C68.8438 82.7036 68.5782 82.7036 66.9532 82.2817C62.7501 81.2036 59.3594 79.0942 57.0469 76.1099C56.3907 75.2661 55.3126 73.5161 55.3126 73.2974C55.3126 73.2349 55.4688 73.0942 55.6719 73.0005C55.8751 72.9067 56.2969 72.6411 56.6407 72.438C56.9844 72.2349 57.6094 71.8599 58.0313 71.6411C58.4532 71.4224 59.6719 70.7036 60.7345 70.063C61.797 69.4224 62.7657 68.9067 62.8751 68.9067C62.9845 68.9067 63.1876 69.1255 63.3438 69.3911C64.2813 70.9692 66.4688 72.9849 68.0157 73.6724C68.9688 74.0786 71.0782 74.5317 72.0938 74.5317C73.0313 74.5317 74.7501 74.1255 75.672 73.7036C76.6563 73.2505 77.1564 72.7974 77.7501 71.8911C78.1564 71.2505 78.2032 71.0786 78.1876 69.8599C78.1876 68.7349 78.1251 68.4224 77.8126 67.9067C76.9376 66.4692 75.7501 65.7192 70.9376 63.5942C65.9688 61.3911 63.7345 60.0786 61.9219 58.313C60.5782 57.0005 60.3126 56.6411 59.4688 55.0005C58.3751 52.8911 58.2344 52.2036 58.2188 49.063C58.2032 46.8599 58.2501 46.1411 58.4844 45.3911C58.8126 44.2661 59.8751 42.0942 60.3594 41.5474C61.3594 40.3755 61.7188 40.0161 62.422 39.438C64.547 37.688 67.8595 36.5317 71.0313 36.4224C71.3907 36.4224 72.5782 36.4849 73.6876 36.563C76.8751 36.8286 79.047 37.6099 81.1407 39.2817C82.7189 40.5317 85.1095 43.4692 84.8751 43.8599C84.7189 44.0942 78.4845 48.2505 78.0782 48.3755C77.8282 48.4536 77.6564 48.3599 77.3126 47.9536C75.1876 45.4067 74.3282 44.8599 72.2657 44.7349C70.797 44.6411 70.0157 44.813 69.0313 45.4692C68.0001 46.1567 67.5001 47.2036 67.5001 48.6567C67.5157 50.7817 68.3282 51.7817 71.3282 53.2661C73.2657 54.2192 74.922 55.0005 75.047 55.0005C75.2345 55.0005 79.2501 57.0005 80.297 57.6255C85.172 60.4849 87.1564 63.4224 87.672 68.4849C88.047 72.2974 86.9689 75.7817 84.6251 78.2505V78.2505Z" fill="white"/>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M100 0.000488281H0V100H100V0.000488281Z" fill="#F7DF1E"/>
<path d="M67.1745 78.1259C69.1888 81.4148 71.8094 83.8323 76.4444 83.8323C80.338 83.8323 82.8253 81.8862 82.8253 79.1973C82.8253 75.9751 80.2698 74.8339 75.984 72.9592L73.6348 71.9513C66.8539 69.0624 62.3491 65.4434 62.3491 57.7926C62.3491 50.745 67.719 45.3799 76.111 45.3799C82.0856 45.3799 86.3809 47.4592 89.4761 52.9037L82.1586 57.6021C80.5475 54.7132 78.8094 53.5751 76.111 53.5751C73.3587 53.5751 71.6142 55.3212 71.6142 57.6021C71.6142 60.4212 73.3602 61.5624 77.392 63.3085L79.7412 64.3148C87.7253 67.7386 92.2333 71.2291 92.2333 79.0767C92.2333 87.537 85.5872 92.1719 76.6618 92.1719C67.9348 92.1719 62.2967 88.0132 59.538 82.5624L67.1745 78.1259ZM33.9793 78.9402C35.4555 81.5592 36.7983 83.7735 40.0269 83.7735C43.1142 83.7735 45.0618 82.5656 45.0618 77.8688V45.9164H54.4586V77.9958C54.4586 87.7259 48.7539 92.1545 40.4269 92.1545C32.9031 92.1545 28.546 88.2608 26.3301 83.5712L33.9793 78.9402Z" fill="black"/>
</svg>
<svg width="50" height="100" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 254.5 225" style="enable-background:new 0 0 254.5 225;" xml:space="preserve">
<style type="text/css">
.st0{fill:#2DBCAF;}
.st1{fill:#5DC9E1;}
.st2{fill:#FDDD00;}
.st3{fill:#CE3262;}
.st4{fill:#00ACD7;}
.st5{fill:#FFFFFF;}
</style>
<g>
<g>
<g>
<g>
<path class="st0" d="M40.2,101.1c-0.4,0-0.5-0.2-0.3-0.5l2.1-2.7c0.2-0.3,0.7-0.5,1.1-0.5l35.7,0c0.4,0,0.5,0.3,0.3,0.6
l-1.7,2.6c-0.2,0.3-0.7,0.6-1,0.6L40.2,101.1z"/>
</g>
</g>
</g>
<g>
<g>
<g>
<path class="st0" d="M25.1,110.3c-0.4,0-0.5-0.2-0.3-0.5l2.1-2.7c0.2-0.3,0.7-0.5,1.1-0.5l45.6,0c0.4,0,0.6,0.3,0.5,0.6
l-0.8,2.4c-0.1,0.4-0.5,0.6-0.9,0.6L25.1,110.3z"/>
</g>
</g>
</g>
<g>
<g>
<g>
<path class="st0" d="M49.3,119.5c-0.4,0-0.5-0.3-0.3-0.6l1.4-2.5c0.2-0.3,0.6-0.6,1-0.6l20,0c0.4,0,0.6,0.3,0.6,0.7l-0.2,2.4
c0,0.4-0.4,0.7-0.7,0.7L49.3,119.5z"/>
</g>
</g>
</g>
<g>
<g id="CXHf1q_1_">
<g>
<g>
<path class="st0" d="M153.1,99.3c-6.3,1.6-10.6,2.8-16.8,4.4c-1.5,0.4-1.6,0.5-2.9-1c-1.5-1.7-2.6-2.8-4.7-3.8
c-6.3-3.1-12.4-2.2-18.1,1.5c-6.8,4.4-10.3,10.9-10.2,19c0.1,8,5.6,14.6,13.5,15.7c6.8,0.9,12.5-1.5,17-6.6
c0.9-1.1,1.7-2.3,2.7-3.7c-3.6,0-8.1,0-19.3,0c-2.1,0-2.6-1.3-1.9-3c1.3-3.1,3.7-8.3,5.1-10.9c0.3-0.6,1-1.6,2.5-1.6
c5.1,0,23.9,0,36.4,0c-0.2,2.7-0.2,5.4-0.6,8.1c-1.1,7.2-3.8,13.8-8.2,19.6c-7.2,9.5-16.6,15.4-28.5,17
c-9.8,1.3-18.9-0.6-26.9-6.6c-7.4-5.6-11.6-13-12.7-22.2c-1.3-10.9,1.9-20.7,8.5-29.3c7.1-9.3,16.5-15.2,28-17.3
c9.4-1.7,18.4-0.6,26.5,4.9c5.3,3.5,9.1,8.3,11.6,14.1C154.7,98.5,154.3,99,153.1,99.3z"/>
</g>
<g>
<path class="st0" d="M186.2,154.6c-9.1-0.2-17.4-2.8-24.4-8.8c-5.9-5.1-9.6-11.6-10.8-19.3c-1.8-11.3,1.3-21.3,8.1-30.2
c7.3-9.6,16.1-14.6,28-16.7c10.2-1.8,19.8-0.8,28.5,5.1c7.9,5.4,12.8,12.7,14.1,22.3c1.7,13.5-2.2,24.5-11.5,33.9
c-6.6,6.7-14.7,10.9-24,12.8C191.5,154.2,188.8,154.3,186.2,154.6z M210,114.2c-0.1-1.3-0.1-2.3-0.3-3.3
c-1.8-9.9-10.9-15.5-20.4-13.3c-9.3,2.1-15.3,8-17.5,17.4c-1.8,7.8,2,15.7,9.2,18.9c5.5,2.4,11,2.1,16.3-0.6
C205.2,129.2,209.5,122.8,210,114.2z"/>
</g>
</g>
</g>
</g>
</g>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="lime" xmlns="http://www.w3.org/2000/svg">
<path d="M99.3168 48.7751L95.1187 46.1762C95.0833 45.7683 95.0434 45.3607 94.9992 44.9536L98.607 41.5884C98.7874 41.4208 98.9219 41.2097 98.9974 40.9753C99.073 40.7409 99.0872 40.4911 99.0387 40.2497C98.9913 40.0081 98.8827 39.7827 98.7234 39.595C98.564 39.4074 98.3592 39.2637 98.1285 39.1778L93.5164 37.4532C93.4006 37.0549 93.2801 36.658 93.1551 36.2626L96.032 32.2669C96.1761 32.0671 96.2668 31.8338 96.2953 31.5892C96.3239 31.3446 96.2894 31.0967 96.1952 30.8691C96.101 30.6415 95.9502 30.4418 95.757 30.289C95.5639 30.1361 95.3349 30.0352 95.0918 29.9958L90.2285 29.2048C90.0394 28.836 89.8426 28.4727 89.6441 28.1126L91.6875 23.627C91.7904 23.4032 91.834 23.1567 91.8143 22.9112C91.7946 22.6656 91.7122 22.4292 91.575 22.2247C91.4388 22.0195 91.2522 21.8527 91.0331 21.7404C90.8139 21.628 90.5695 21.5739 90.3234 21.5833L85.3875 21.7551C85.1326 21.4358 84.8726 21.1206 84.6078 20.8094L85.7422 16.0016C85.7989 15.7618 85.7933 15.5115 85.7259 15.2745C85.6585 15.0375 85.5315 14.8217 85.357 14.6477C85.183 14.4735 84.9673 14.3467 84.7305 14.2793C84.4937 14.2119 84.2436 14.2061 84.0039 14.2626L79.1973 15.3958C78.8852 15.1312 78.5693 14.8713 78.2496 14.6161L78.4223 9.68053C78.4315 9.43447 78.3775 9.19016 78.2653 8.97097C78.1531 8.75177 77.9866 8.56502 77.7816 8.42858C77.577 8.29156 77.3407 8.20922 77.0952 8.18939C76.8497 8.16956 76.6033 8.2129 76.3793 8.31529L71.8949 10.3598C71.5332 10.1602 71.1691 9.96486 70.8027 9.77389L70.0098 4.90982C69.9701 4.66694 69.869 4.43822 69.7162 4.24533C69.5633 4.05243 69.3638 3.90177 69.1364 3.8076C68.909 3.71343 68.6613 3.67889 68.4169 3.70724C68.1724 3.73558 67.9392 3.82589 67.7394 3.96959L63.741 6.84654C63.3476 6.72154 62.9519 6.60084 62.5527 6.48639L60.8281 1.87349C60.7423 1.6424 60.5987 1.43717 60.411 1.27741C60.2233 1.11766 59.9977 1.00871 59.7559 0.960995C59.5146 0.913515 59.2652 0.928263 59.0312 1.00385C58.7972 1.07944 58.5863 1.21337 58.4183 1.39303L55.0531 5.00357C54.6462 4.95796 54.2386 4.91812 53.8305 4.88404L51.2316 0.684823C51.1021 0.475576 50.9213 0.302881 50.7064 0.183116C50.4914 0.0633518 50.2494 0.000488281 50.0033 0.000488281C49.7572 0.000488281 49.5152 0.0633518 49.3003 0.183116C49.0853 0.302881 48.9045 0.475576 48.775 0.684823L46.1762 4.88404C45.7677 4.91807 45.3597 4.95792 44.9523 5.00357L41.5863 1.39303C41.4186 1.2127 41.2075 1.07831 40.9731 1.00263C40.7387 0.926947 40.4889 0.912498 40.2473 0.960656C40.0058 1.00881 39.7806 1.11798 39.5932 1.27776C39.4058 1.43754 39.2623 1.64262 39.1766 1.87349L37.4523 6.48639C37.0527 6.60084 36.6574 6.72232 36.2629 6.84654L32.2652 3.96959C32.0655 3.82523 31.8321 3.73452 31.5874 3.70613C31.3426 3.67775 31.0946 3.71265 30.8672 3.80748C30.64 3.90186 30.4405 4.05261 30.2878 4.24549C30.135 4.43838 30.034 4.66702 29.9941 4.90982L29.2012 9.77389C28.834 9.96412 28.4711 10.1598 28.109 10.3598L23.6242 8.3149C23.4004 8.21245 23.154 8.16911 22.9086 8.18901C22.6632 8.20891 22.4271 8.29139 22.2227 8.42858C22.0175 8.56492 21.8509 8.75164 21.7386 8.97084C21.6262 9.19004 21.5721 9.4344 21.5812 9.68053L21.7531 14.6161C21.4338 14.8718 21.1179 15.1317 20.8055 15.3958L15.9988 14.263C15.7591 14.2068 15.5089 14.2126 15.272 14.2799C15.0351 14.3473 14.8193 14.4738 14.6449 14.6477C14.4705 14.8217 14.3435 15.0375 14.2761 15.2745C14.2086 15.5115 14.203 15.7618 14.2598 16.0016L15.3922 20.8094C15.1293 21.1208 14.8695 21.436 14.6145 21.7551L9.67852 21.5833C9.43271 21.5755 9.18895 21.6302 8.97006 21.7424C8.75117 21.8545 8.5643 22.0203 8.42695 22.2243C8.28998 22.4289 8.20763 22.6652 8.18774 22.9107C8.16784 23.1561 8.21106 23.4026 8.31328 23.6266L10.3578 28.1126C10.159 28.4727 9.9625 28.836 9.77187 29.2048L4.90898 29.9958C4.66597 30.0354 4.43711 30.1364 4.24411 30.2893C4.05111 30.4422 3.90037 30.6419 3.80619 30.8694C3.71201 31.0969 3.6775 31.3447 3.70595 31.5892C3.7344 31.8338 3.82486 32.0671 3.96875 32.2669L6.8457 36.263C6.7207 36.6575 6.59922 37.0536 6.48437 37.4532L1.87188 39.1778C1.64152 39.2643 1.43707 39.4082 1.27785 39.5958C1.11863 39.7835 1.00992 40.0086 0.962012 40.25C0.9141 40.4913 0.92857 40.7409 1.00405 40.9751C1.07953 41.2093 1.21353 41.4204 1.39336 41.5884L5.00156 44.9532C4.95664 45.3594 4.9168 45.7684 4.88242 46.1762L0.683594 48.7751C0.47438 48.9046 0.301753 49.0855 0.182109 49.3005C0.0624656 49.5155 -0.000222061 49.7575 5.91039e-07 50.0036C5.91039e-07 50.5052 0.258985 50.9696 0.683985 51.2313L4.88242 53.8302C4.9168 54.2391 4.95664 54.6473 5.00156 55.0532L1.39297 58.4192C1.21282 58.587 1.07854 58.798 1.00288 59.0322C0.927217 59.2665 0.912688 59.5162 0.96067 59.7576C1.00865 59.999 1.11755 60.2242 1.27703 60.4117C1.43651 60.5992 1.64127 60.7429 1.87188 60.829L6.48437 62.5536C6.59922 62.9528 6.7207 63.3493 6.8457 63.7438L3.96875 67.7403C3.82459 67.9401 3.73394 68.1734 3.70542 68.4181C3.67691 68.6628 3.71147 68.9107 3.80583 69.1382C3.90018 69.3658 4.05119 69.5654 4.24449 69.7181C4.43779 69.8708 4.66694 69.9715 4.91016 70.0106L9.77226 70.8016C9.9625 71.1704 10.1574 71.5337 10.3582 71.8954L8.31328 76.3798C8.21087 76.6038 8.16755 76.8503 8.18745 77.0958C8.20735 77.3412 8.28981 77.5775 8.42695 77.7821C8.56331 77.9871 8.74998 78.1537 8.96911 78.2659C9.18823 78.3781 9.43249 78.4323 9.67852 78.4231L14.6121 78.2505C14.8695 78.5712 15.1285 78.8856 15.3922 79.1981L14.2598 84.0067C14.2031 84.2461 14.2087 84.496 14.2761 84.7325C14.3436 84.9691 14.4705 85.1844 14.6449 85.3579C14.8188 85.5325 15.0346 85.6595 15.2717 85.7267C15.5088 85.794 15.7592 85.7992 15.9988 85.7419L20.8055 84.6099C21.118 84.8755 21.4344 85.1333 21.7535 85.3872L21.5816 90.3243C21.5728 90.5703 21.627 90.8145 21.7391 91.0336C21.8513 91.2528 22.0176 91.4396 22.2223 91.5763C22.427 91.713 22.6633 91.7951 22.9087 91.8147C23.1541 91.8343 23.4004 91.7908 23.6242 91.6884L28.109 89.645C28.4701 89.8457 28.8342 90.0409 29.2012 90.2306L29.9941 95.0919C30.0333 95.3351 30.1341 95.5642 30.2869 95.7573C30.4398 95.9505 30.6395 96.1013 30.8672 96.1954C31.0947 96.2896 31.3425 96.3243 31.5871 96.2961C31.8318 96.2678 32.0652 96.1777 32.2652 96.0341L36.2609 93.1552C36.6555 93.2802 37.0519 93.4024 37.4512 93.5173L39.1758 98.1282C39.2616 98.359 39.4053 98.5639 39.5929 98.7233C39.7806 98.8827 40.006 98.9913 40.2476 99.0388C40.489 99.0875 40.7388 99.0733 40.9731 98.9976C41.2074 98.922 41.4183 98.7874 41.5855 98.6067L44.9516 94.9981C45.3578 95.045 45.7664 95.0841 46.1754 95.1204L48.7742 99.3188C48.9039 99.5278 49.0846 99.7002 49.2995 99.8198C49.5143 99.9394 49.7561 100.002 50.0019 100.002C50.248 100.002 50.4899 99.9396 50.7048 99.8199C50.9198 99.7003 51.1007 99.5279 51.2305 99.3188L53.8293 95.1204C54.2383 95.0841 54.6465 95.045 55.0523 94.9981L58.4176 98.6067C58.5849 98.7872 58.7957 98.9217 59.0299 98.9974C59.2641 99.073 59.5138 99.0873 59.7551 99.0388C59.9966 98.9912 60.222 98.8825 60.4096 98.7231C60.5972 98.5637 60.7409 98.3589 60.8269 98.1282L62.5516 93.5173C62.9508 93.4024 63.3476 93.2802 63.7422 93.1552L67.7387 96.0341C67.9386 96.1778 68.1719 96.2681 68.4165 96.2963C68.6611 96.3246 68.9089 96.2898 69.1363 96.1955C69.3637 96.1011 69.5633 95.9502 69.716 95.757C69.8687 95.5639 69.9696 95.3349 70.009 95.0919L70.8019 90.2306C71.1687 90.0403 71.5316 89.8427 71.8937 89.6446L76.3785 91.6884C76.6023 91.7911 76.8488 91.8349 77.0943 91.8154C77.3398 91.7959 77.5763 91.7139 77.7811 91.5771C77.9859 91.4404 78.1523 91.2534 78.2644 91.0341C78.3765 90.8148 78.4306 90.5704 78.4215 90.3243L78.2496 85.3876C78.5692 85.1334 78.8847 84.8741 79.1961 84.6099L84.0031 85.7419C84.4914 85.8567 85.0031 85.7145 85.3558 85.3579C85.5302 85.1844 85.6572 84.9691 85.7246 84.7325C85.7921 84.496 85.7977 84.2461 85.741 84.0067L84.609 79.1981C84.8726 78.8856 85.1324 78.5712 85.3863 78.2505L90.3223 78.4231C90.5683 78.4324 90.8125 78.3784 91.0317 78.2662C91.2508 78.1541 91.4375 77.9875 91.5738 77.7825C91.7112 77.5779 91.7937 77.3414 91.8135 77.0957C91.8332 76.85 91.7896 76.6034 91.6867 76.3794L89.643 71.8958C89.8426 71.5337 90.0387 71.1704 90.2277 70.802L95.091 70.0106C95.3341 69.9716 95.5632 69.8708 95.7562 69.7178C95.9492 69.5649 96.0997 69.365 96.1933 69.1372C96.2876 68.9098 96.3222 68.6622 96.2939 68.4177C96.2655 68.1732 96.1751 67.94 96.0312 67.7403L93.1543 63.7442C93.2785 63.3493 93.4 62.9528 93.5156 62.5536L98.1273 60.829C98.3582 60.7431 98.5631 60.5994 98.7226 60.4117C98.882 60.224 98.9906 59.9984 99.0379 59.7567C99.0865 59.5154 99.0723 59.2657 98.9966 59.0315C98.921 58.7973 98.7864 58.5865 98.6058 58.4192L94.9984 55.0532C95.0422 54.647 95.0824 54.2384 95.1176 53.8305L99.316 51.2313C99.5253 51.1021 99.698 50.9214 99.8178 50.7065C99.9375 50.4916 100 50.2496 100 50.0036C100 49.5032 99.7422 49.038 99.3168 48.7751V48.7751ZM71.2183 83.6017C69.6152 83.256 68.5957 81.6759 68.9398 80.0677C69.2828 78.4614 70.8617 77.4392 72.4644 77.7849C74.0676 78.1282 75.0887 79.711 74.7449 81.3161C74.4012 82.9216 72.8207 83.945 71.2183 83.6017ZM69.7918 73.9536C69.4439 73.879 69.0848 73.8737 68.7348 73.938C68.3849 74.0024 68.0511 74.1351 67.7526 74.3285C67.454 74.522 67.1964 74.7724 66.9947 75.0654C66.793 75.3585 66.651 75.6884 66.5769 76.0364L65.0863 82.9923C60.4867 85.0798 55.3793 86.2395 50 86.2395C44.4976 86.2395 39.2789 85.0224 34.5977 82.8458L33.1078 75.8903C32.7945 74.4266 31.3555 73.4942 29.8937 73.8083L23.7531 75.127C22.6119 73.9524 21.5511 72.7022 20.5781 71.3849H50.457C50.7949 71.3849 51.0203 71.3235 51.0203 71.0157V60.4466C51.0203 60.1391 50.7949 60.0778 50.4566 60.0778H41.7187V53.3786H51.1699C52.0324 53.3786 55.7828 53.6247 56.9816 58.4184C57.3574 59.8927 58.1816 64.688 58.7457 66.2231C59.3074 67.945 61.5945 71.3845 64.032 71.3845H78.9207C79.0898 71.3845 79.2703 71.3653 79.4605 71.3309C78.4275 72.7339 77.2959 74.0615 76.0742 75.3036L69.7922 73.9536H69.7918ZM28.4676 83.4563C26.8641 83.8024 25.2855 82.7802 24.9406 81.1739C24.5977 79.5649 25.6172 77.9856 27.2203 77.6399C28.8238 77.297 30.4031 78.3192 30.7469 79.9251C31.0898 81.5306 30.0695 83.1126 28.4672 83.4563H28.4676ZM17.1328 37.4954C17.798 38.9962 17.1211 40.7551 15.6223 41.4192C14.1234 42.0852 12.3691 41.4075 11.7043 39.9055C11.0391 38.4036 11.7156 36.6477 13.2148 35.9817C13.5714 35.8236 13.9557 35.7372 14.3457 35.7277C14.7356 35.7182 15.1236 35.7856 15.4875 35.9262C15.8514 36.0667 16.184 36.2776 16.4663 36.5468C16.7486 36.816 16.9751 37.1382 17.1328 37.495V37.4954ZM13.6492 45.7532L20.0461 42.9106C20.7028 42.6185 21.2166 42.0776 21.4747 41.4068C21.7329 40.7361 21.7141 39.9902 21.4227 39.3333L20.1055 36.3544H25.2867V59.7091H14.8332C13.9066 56.447 13.4378 53.072 13.4402 49.6809C13.4402 48.3536 13.5117 47.0419 13.6492 45.7528V45.7532ZM41.7203 43.4848V36.6009H54.0586C54.6961 36.6009 58.5586 37.3376 58.5586 40.2259C58.5586 42.6239 55.5961 43.4837 53.1598 43.4837H41.7203V43.4848ZM86.5609 49.6809C86.5609 50.5942 86.5273 51.4981 86.4605 52.395H82.7094C82.334 52.395 82.1828 52.6419 82.1828 53.0095V54.7321C82.1828 58.7868 79.8965 59.6688 77.893 59.8934C75.9851 60.1083 73.8695 59.0946 73.609 57.927C72.4832 51.5966 70.6078 50.2446 67.6461 47.9083C71.3219 45.5743 75.1461 42.1309 75.1461 37.5216C75.1461 32.545 71.7344 29.4102 69.4086 27.8731C66.1461 25.7223 62.5336 25.2911 61.559 25.2911H22.7652C28.0258 19.42 35.1555 15.261 43.2191 13.7477L47.7918 18.5446C48.0371 18.8021 48.3308 19.0087 48.6561 19.1525C48.9814 19.2963 49.3318 19.3745 49.6873 19.3827C50.0429 19.3909 50.3966 19.3289 50.7281 19.2003C51.0597 19.0716 51.3626 18.8788 51.6195 18.6329L56.7359 13.7391C67.4566 15.7352 76.5336 22.4087 81.7644 31.5645L78.2617 39.4759C77.657 40.845 78.2742 42.4462 79.6394 43.0528L86.3832 46.0481C86.4996 47.2454 86.5609 48.4548 86.5609 49.6809ZM47.7937 9.66686C48.9785 8.53209 50.8578 8.57701 51.9922 9.76334C53.1242 10.9532 53.0812 12.8344 51.8937 13.9684C50.709 15.1036 48.8297 15.0594 47.6953 13.8708C47.1518 13.2998 46.8569 12.5366 46.8753 11.7485C46.8938 10.9604 47.2241 10.2118 47.7937 9.66686V9.66686ZM82.5527 37.6395C82.7103 37.2828 82.9367 36.9606 83.219 36.6914C83.5012 36.4223 83.8338 36.2114 84.1977 36.0709C84.5615 35.9304 84.9495 35.8631 85.3394 35.8727C85.7293 35.8823 86.1134 35.9688 86.4699 36.127C87.9691 36.7919 88.6457 38.5501 87.9805 40.0509C87.8229 40.4078 87.5965 40.7301 87.3143 40.9994C87.032 41.2688 86.6994 41.4798 86.3354 41.6204C85.9715 41.761 85.5834 41.8284 85.1934 41.8188C84.8034 41.8092 84.4191 41.7228 84.0625 41.5645C82.5652 40.8993 81.8887 39.1427 82.5527 37.6395V37.6395Z" fill="#C74C00"/>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M98.4938 22.4855C98.5296 22.618 98.5479 22.7546 98.5482 22.8919V44.226C98.5482 44.4998 98.4759 44.7688 98.3387 45.0057C98.2014 45.2427 98.0041 45.4392 97.7665 45.5754L79.8604 55.8847V76.3186C79.8604 76.8747 79.5649 77.388 79.0827 77.668L41.7052 99.1849C41.6196 99.2335 41.5263 99.2647 41.433 99.2977C41.398 99.3094 41.3649 99.3308 41.328 99.3405C41.0667 99.4093 40.792 99.4093 40.5308 99.3405C40.488 99.3288 40.4491 99.3055 40.4083 99.2899C40.3227 99.2588 40.2333 99.2316 40.1516 99.1849L2.7819 77.668C2.5445 77.5316 2.34725 77.3351 2.21002 77.0982C2.07279 76.8613 2.00043 76.5924 2.00024 76.3186V12.3162C2.00024 12.1762 2.01969 12.0401 2.05469 11.9078C2.06635 11.8631 2.09358 11.8223 2.10913 11.7776C2.1383 11.6959 2.16552 11.6123 2.2083 11.5365C2.23746 11.4859 2.28024 11.4451 2.31524 11.3984C2.35996 11.3362 2.40079 11.272 2.45329 11.2176C2.49801 11.1729 2.55635 11.1398 2.6069 11.1009C2.66329 11.0542 2.71384 11.0037 2.77801 10.9667H2.77995L21.4658 0.20829C21.7024 0.0721435 21.9706 0.000488281 22.2435 0.000488281C22.5165 0.000488281 22.7847 0.0721435 23.0213 0.20829L41.7071 10.9667H41.711C41.7732 11.0056 41.8257 11.0542 41.8821 11.099C41.9327 11.1379 41.9891 11.1729 42.0338 11.2156C42.0882 11.272 42.1271 11.3362 42.1738 11.3984C42.2068 11.4451 42.2516 11.4859 42.2788 11.5365C42.3235 11.6142 42.3488 11.6959 42.3799 11.7776C42.3955 11.8223 42.4227 11.8631 42.4343 11.9098C42.4701 12.0423 42.4884 12.1789 42.4888 12.3162V52.2914L58.0597 43.3257V22.8899C58.0597 22.7538 58.0791 22.6157 58.1141 22.4855C58.1277 22.4388 58.153 22.398 58.1685 22.3533C58.1997 22.2716 58.2269 22.188 58.2697 22.1121C58.2988 22.0616 58.3416 22.0208 58.3747 21.9741C58.4213 21.9119 58.4602 21.8477 58.5147 21.7933C58.5594 21.7485 58.6158 21.7155 58.6663 21.6766C58.7246 21.6299 58.7752 21.5794 58.8374 21.5424H58.8394L77.5271 10.784C77.7637 10.6476 78.0319 10.5759 78.3049 10.5759C78.5779 10.5759 78.8461 10.6476 79.0827 10.784L97.7685 21.5424C97.8346 21.5813 97.8852 21.6299 97.9435 21.6747C97.9921 21.7135 98.0485 21.7485 98.0932 21.7913C98.1476 21.8477 98.1865 21.9119 98.2332 21.9741C98.2682 22.0208 98.311 22.0616 98.3382 22.1121C98.3829 22.188 98.4082 22.2716 98.4393 22.3533C98.4568 22.398 98.4821 22.4388 98.4938 22.4855V22.4855ZM95.4332 43.3257V25.5849L88.8942 29.3493L79.8604 34.5506V52.2914L95.4352 43.3257H95.4332ZM76.7474 75.4183V57.6658L67.8615 62.7407L42.4868 77.2227V95.1425L76.7474 75.4183ZM5.1152 15.0092V75.4183L39.3719 95.1405V77.2247L21.4755 67.0962L21.4697 67.0923L21.4619 67.0884C21.4016 67.0534 21.3511 67.0029 21.2947 66.9601C21.2461 66.9212 21.1897 66.8901 21.1469 66.8473L21.143 66.8415C21.0925 66.7929 21.0575 66.7326 21.0147 66.6782C20.9758 66.6257 20.9291 66.581 20.898 66.5265L20.8961 66.5207C20.8611 66.4623 20.8397 66.3923 20.8144 66.3262C20.7891 66.2679 20.7561 66.2135 20.7405 66.1512V66.1493C20.7211 66.0754 20.7172 65.9976 20.7094 65.9218C20.7016 65.8635 20.6861 65.8051 20.6861 65.7468V23.9749L11.6543 18.7716L5.1152 15.0111V15.0092ZM22.2455 3.35436L6.67656 12.3162L22.2416 21.278L37.8086 12.3142L22.2416 3.35436H22.2455ZM30.342 59.2836L39.3738 54.0842V15.0092L32.8348 18.7736L23.801 23.9749V63.0499L30.342 59.2836ZM78.3049 13.93L62.7379 22.8919L78.3049 31.8537L93.8699 22.8899L78.3049 13.93ZM76.7474 34.5506L67.7137 29.3493L61.1746 25.5849V43.3257L70.2064 48.5251L76.7474 52.2914V34.5506ZM40.9274 74.5297L63.7607 61.4944L75.1744 54.9806L59.6191 46.0246L41.7091 56.3358L25.3857 65.7332L40.9274 74.5297Z" fill="#FF2D20"/>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49.6397 0.000488281C24.2535 0.000488281 25.8385 11.0095 25.8385 11.0095L25.8667 22.4151H50.0924V25.8394H16.2447C16.2447 25.8394 0 23.9971 0 49.6116C0 75.2269 14.1788 74.3185 14.1788 74.3185H22.6406V62.432C22.6406 62.432 22.1844 48.2532 36.593 48.2532H60.6205C60.6205 48.2532 74.1199 48.4713 74.1199 35.2065V13.2739C74.1199 13.2739 76.1702 0.000488281 49.6397 0.000488281ZM36.2817 7.67056C36.8542 7.67004 37.4211 7.78242 37.9501 8.00125C38.4791 8.22009 38.9598 8.54109 39.3645 8.94589C39.7693 9.35068 40.0903 9.83133 40.3092 10.3603C40.528 10.8893 40.6404 11.4563 40.6399 12.0287C40.6404 12.6012 40.528 13.1681 40.3092 13.6971C40.0903 14.2261 39.7693 14.7068 39.3645 15.1116C38.9598 15.5164 38.4791 15.8374 37.9501 16.0562C37.4211 16.275 36.8542 16.3874 36.2817 16.3869C35.7092 16.3874 35.1423 16.275 34.6133 16.0562C34.0843 15.8374 33.6037 15.5164 33.1989 15.1116C32.7941 14.7068 32.4731 14.2261 32.2542 13.6971C32.0354 13.1681 31.923 12.6012 31.9235 12.0287C31.923 11.4563 32.0354 10.8893 32.2542 10.3603C32.4731 9.83133 32.7941 9.35068 33.1989 8.94589C33.6037 8.54109 34.0843 8.22009 34.6133 8.00125C35.1423 7.78242 35.7092 7.67004 36.2817 7.67056V7.67056Z" fill="url(#paint0_linear_751_7849)"/>
<path d="M50.3607 99.4806C75.747 99.4806 74.1619 88.4715 74.1619 88.4715L74.1337 77.0663H49.9076V73.642H83.7553C83.7553 73.642 100 75.4843 100 49.869C100 24.254 85.8213 25.1624 85.8213 25.1624H77.3594V37.0486C77.3594 37.0486 77.8156 51.2273 63.407 51.2273H39.3795C39.3795 51.2273 25.8801 51.0092 25.8801 64.2745V86.2075C25.8801 86.2075 23.8302 99.4806 50.3603 99.4806H50.3607ZM63.7187 91.8112C63.1462 91.8118 62.5793 91.6994 62.0503 91.4806C61.5213 91.2617 61.0407 90.9407 60.6359 90.5359C60.2311 90.1311 59.9101 89.6505 59.6912 89.1215C59.4724 88.5925 59.36 88.0255 59.3605 87.4531C59.36 86.8806 59.4723 86.3136 59.6911 85.7845C59.9099 85.2555 60.2309 84.7748 60.6357 84.37C61.0405 83.9651 61.5212 83.6441 62.0502 83.4252C62.5792 83.2064 63.1462 83.094 63.7187 83.0945C64.2912 83.094 64.8581 83.2064 65.3871 83.4252C65.9161 83.644 66.3967 83.965 66.8015 84.3698C67.2063 84.7746 67.5273 85.2553 67.7462 85.7843C67.965 86.3133 68.0774 86.8802 68.0769 87.4527C68.0774 88.0251 67.965 88.5921 67.7462 89.1211C67.5273 89.6501 67.2063 90.1307 66.8015 90.5355C66.3967 90.9403 65.9161 91.2613 65.3871 91.4802C64.8581 91.699 64.2912 91.8114 63.7187 91.8109V91.8112Z" fill="url(#paint1_linear_751_7849)"/>
<defs>
<linearGradient id="paint0_linear_751_7849" x1="9.60996" y1="8.94811" x2="59.1669" y2="58.0107" gradientUnits="userSpaceOnUse">
<stop stop-color="#387EB8"/>
<stop offset="1" stop-color="#366994"/>
</linearGradient>
<linearGradient id="paint1_linear_751_7849" x1="40.0281" y1="40.4532" x2="93.2466" y2="90.7623" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFE052"/>
<stop offset="1" stop-color="#FFC331"/>
</linearGradient>
</defs>
</svg>
<svg width="50" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 21.5009L30.2963 -0.000366211V99.9732L9 78.7203V21.5009Z" fill="url(#paint0_linear_751_7960)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M91.2873 21.7037L69.6993 0.0111084L70.1369 99.9731L91.4332 78.7202L91.2873 21.7037Z" fill="url(#paint1_linear_751_7960)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M30.2821 0.0166626L85.6501 84.5063L70.1565 99.9995L14.7595 15.6969L30.2821 0.0166626Z" fill="url(#paint2_linear_751_7960)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M30.3011 39.2054L30.2717 42.5332L13.1765 17.2949L14.7594 15.6824L30.3011 39.2054Z" fill="black" fill-opacity="0.13"/>
<defs>
<linearGradient id="paint0_linear_751_7960" x1="1073.81" y1="-0.000366211" x2="1073.81" y2="9997.36" gradientUnits="userSpaceOnUse">
<stop stop-color="#16B0ED" stop-opacity="0.800236"/>
<stop offset="1" stop-color="#0F59B2" stop-opacity="0.837"/>
</linearGradient>
<linearGradient id="paint1_linear_751_7960" x1="-995.26" y1="0.0111084" x2="-995.26" y2="9996.21" gradientUnits="userSpaceOnUse">
<stop stop-color="#7DB643"/>
<stop offset="1" stop-color="#367533"/>
</linearGradient>
<linearGradient id="paint2_linear_751_7960" x1="3559.29" y1="0.0166626" x2="3559.29" y2="9998.3" gradientUnits="userSpaceOnUse">
<stop stop-color="#88C649" stop-opacity="0.8"/>
<stop offset="1" stop-color="#439240" stop-opacity="0.84"/>
</linearGradient>
</defs>
</svg>
</ul>
<p>And much other like it's framework/library, tooling, coding concept / data structure / algorithms.</p>
<h2>🧑 Outside engineering</h2>
			<p>Here are a few my other categorized blog (mostly in Bahasa Indonesia):</p>
			<ul>
				<li><a href="https://medium.com/@farrelnikoson">Personal blog (life, essay, reflection)</a></li>
				<li><a href="https://vartz.vercel.app/blog">Internet marketing and bussiness blog</a></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a>read the official docs/manual</a> or <a href="#footer">contact me what's your questions below</a> to ask questions.
			</p>
		</main>
		<Footer />
	</body>
</html>
